.divInfo {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 24px 64px;
  border-bottom: 1px solid var(--Badges, #f2f4f7);
  background: var(--Inputs, #f7f7f7);
}

.travelLogo {
  display: flex;
  margin: 0;
}
