.catalogSideBar {
  margin: 48px 64px 0 64px;
}

.titleLocation {
  color: #6c717b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
}
.buttonLocation {
  padding: 18px 218px 18px 20px;
}
.titleFilters {
}
.resetButton {
}
.divVehicleEquipment {
}
.vehicleEquipment {
}
.filterButton {
}
.divVehicleType {
}
.titleVehicleType {
}

.searchButton {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.005em;
  display: flex;
  width: 173px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: #e44848;
  margin: 40px 0 0 64px;
}

.searchButton:focus,
.searchButton:hover {
  background: #d84343;
}

.resetButton {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.005em;
  display: flex;
  width: 173px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: #e44848;
  margin: 40px 0 0 64px;
}

.resetButton:hover,
.resetButton.focus {
  background: #d84343;
}
