.nav {
  display: flex;
  gap: 32px;
  align-items: center;
}
.navLinkHome {
  text-decoration: none;
  margin-left: 450px;
  justify-content: center;
}

.navLinkCatalog {
  text-decoration: none;
  justify-content: center;
}
